@{
    ViewData["Title"] = "Zugriff verweigert";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Sorry, du hast keinen Zugriff auf diese Seite.</p>
</header>
