
@{
    ViewData["Title"] = "Rechnungsupload";
}

<div style="max-width: 800px; margin-top: 30px">
    <h1 class="h2 text-success">Der Upload war erfolgreich!</h1>
    <p style="font-size: 1.4em; margin-top: 30px">
        Deine Rechnung wird an den zuständigen Bearbeiter weitergeleitet.
        Du bekommst innerhalb der nächsten Tage eine Antwort per E-Mail.
    </p>
</div>
<br />
<a href="https://portal.office.com" class="btn btn-primary">Weiter zum Portal</a>